
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia;
}
header{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40 px 100px;
    z-index:1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    background: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
    display: inline-grid;
    padding: 15px 15px;
    margin: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    cursor:progress;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
}
nav ul li::after{
    content:'';
    background: #beb7b7;
    width: 150px;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    opacity:0;
}
nav ul li:hover{
    color: rgb(248, 253, 253);
}
nav ul li:hover::after{
    top:50%;
    opacity:3;
}
#imagen{
    margin-left: 100px;
    border-radius:50px;
}
.titulos{
    font-size: 2em;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    margin-left: 50px;
     margin-top: 150px;
}
.text p{
    margin-left: 100px;
    font-size: 1.1em;
    color:#020202;
    margin:20px 0;
    font-size: 200;
    max-width: 700px;
    text-align: justify;
    margin-left: 100px;
}
.irPagina{
    margin-left: 200px;
    
}
#img{
    position:absolute;
    top:15%;
    left: 70%;
}
a{
    text-decoration: none;
    color: #020202;
    
}
.showcase{
    
    background-color: #ffffff;
}
.fondo{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit:fill;
    opacity: 0.8;
    background: #5c5f5f;
    mix-blend-mode: overlay;
}
